/* RESET USER AGENT STYLESHEETS */
* {
  margin: 0;
  padding: 0;
}


/* NAVIGATION BAR  */
.navbar-custom {
	background-color:#b38cd9;
    color:#ffffff;
  	border-radius:0;
	font-size: larger;
}
  
.navbar-custom .navbar-nav > li > a {
  	color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #674BA9;
}
      
.navbar-custom .navbar-brand {
  	color:#fff;
}
.navbar-custom .navbar-toggle {
  	background-color:#fff;
}
.navbar-custom .icon-bar {
  	background-color:#fff;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-custom .navbar-toggle,
.navbar-custom .nav .open>a, .navbar-custom .nav .open>a:hover, .navbar-custom .nav .open>a:focus {
   background-color: #674BA9;
   color:#fff;
}

.navbar-custom .navbar-nav .open .dropdown-menu>li>a, .navbar-custom .navbar-nav .open .dropdown-menu {
    background-color: #b38cd9;
	color:#fff;
}

.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #674BA9;
	color:fff;
}


/* TOOLTIP */
.tooltip > .tooltip-inner {
      background-color: #674BA9;
      color: #FFFFFF;
      border: 1px solid white;
      padding: 2px;
      font-size: 12px;
	  max-width: 350px;
}
 
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Tooltip on right */
.tooltip.right > .tooltip-arrow {
	border-right: 5px solid #674BA9; 
}
/* Tooltip on bottom */
.tooltip.bottom > .tooltip-arrow {
	border-bottom: 5px solid #674BA9;
}


/* BODY */
body {
	background: #9D50BB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9D50BB , #6E48AA); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9D50BB , #6E48AA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* FIGURE */
.img-responsive {
    margin: 0 auto;
}

figure {
    display: table;
	margin: 2px; 
    border: 5px solid #674BA9;
}

figure img {
    display: table-cell;
	max-width: 100%;
	height: auto;
	
}
figure figcaption {
	display: table-caption;
	caption-side: bottom;
    text-align: center;
	background-color: #674BA9;
    color: #FFFFFF;
	border-bottom: 5px solid #674BA9; 
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* hover over some images */
.pointer_cursor img:hover {
    cursor: pointer;
}

.img-circle {
	background-color: #b38cd9;
	border: 10px solid #674BA9;
	
}


/* TEXT */
h1 {
	color: #FFFFFF;
	font-size: 50px;
	font-family: "Mystery Quest",fantasy,"google"; 
}

h2 {
	color: #FFFFFF;
	font-size: 24px;
	font-family: Verdana, Geneva, sans-serif; 
}

a {
    color: hotpink;
}


.body-text p{
	color: #fff;
	text-align: justify;
}

div.dayCard
{
	color: #fff;
	text-align: left;
}

/* FB Like Box */
#fb-root {
  display: none;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}




