/****************************************************************** reset user agent stylesheets ******************************************************************/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

/* NAVIGATION BAR  */
.nav>li>a{
	color: #674BA9;
}

.navbar-default {
    background-color: #b38cd9;
    border-color: #b38cd9;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus{
    color: #FFFFFF;
    background-color: #674BA9;
}



/****************************************************************** TOOLTIP ******************************************************************/
.tooltip > .tooltip-inner {
      background-color: #674BA9;
      color: #FFFFFF;
      border: 1px solid white;
      padding: 5px;
      font-size: 20px;
	  max-width: 350px;
}
 
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Tooltip on right */
.tooltip.right > .tooltip-arrow {
	border-right: 5px solid #674BA9; 
}
/* Tooltip on bottom */
.tooltip.bottom > .tooltip-arrow {
	border-bottom: 5px solid #674BA9;
}

/****************************************************************** BODY ******************************************************************/

/*
body {

	background: red; /* For browsers that do not support gradients */
   /* background: -webkit-linear-gradient(#b38cd9, #e6d9f2); /* For Safari 5.1 to 6.0 */
  /*  background: -o-linear-gradient(#b38cd9, #e6d9f2); /* For Opera 11.1 to 12.0 */
   /* background: -moz-linear-gradient(#b38cd9, #e6d9f2); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#b38cd9, #e6d9f2); /* Standard syntax */
/*
}
*/



body {
    /* background-image: url("Other Images/gypsy_opaque.png");  */
	background-size: cover;
	background-color: #b38cd9; 
}



 div.img {
    border: 1px solid #ccc;
}

/*
div.img:hover {
    border: 1px solid #777;
}
*/

div.img img {
    width: auto;
    height: auto;
}

div.img figcaption { 
    background-color: #674BA9;
    color: #FFFFFF;
    border: 1px solid white;
    font-size: 20px;
	text-align: center;
}

 div.img_example3 {
    
}

div.img_example3 img {
	width: 102px;
    height: 134px;
}

div.img_example3 figcaption { 
    background-color: #674BA9;
    color: #FFFFFF;
    border: 1px solid white;
    font-size: 12px;
	width: 102px;	
	text-align: center;
}



.table_cards {
	border-spacing: 20px;
	border-collapse: separate;	
	margin-left: auto;
	margin-right: auto;
}

.table_cards td {
	border: 5px solid #674BA9;
	text-align: center; 
}



.table_text{
	color: #674BA9;
	font-size: 20px;
	text-align: right;
}


/* Text */
h1 {
	/*padding-left: 10cm;*/
	color: #FFFFFF;
	font-size: 70px;
	font-family: "Mystery Quest",fantasy,"google"; 
}

p{
	color: #674BA9;
	text-align: justify;
}

/*
.body_text{
	padding-left: 10cm;
	padding-right: 10cm; 
	color: #674BA9;
	font-size: 20px;
	text-align: justify;
	line-height: 2em;
} */








