@import "tailwindcss";

:root {
  --charcoal: #121212;
  --bone-white: #f5f5dc;
  --purple-dark: #b38cd9;
}

body {
  background-color: var(--charcoal);
  color: var(--bone-white);
  font-family: var(--font-inter), sans-serif;
}

.font-serif {
  font-family: var(--font-playfair), serif;
}

.bg-charcoal {
  background-color: var(--charcoal);
}

.text-bone-white {
  color: var(--bone-white);
}

.border-bone-white {
  border-color: var(--bone-white);
}

.bg-purple-dark {
  background-color: var(--purple-dark);
}
